{% extends "base.html"%}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
{% endblock %}

{% block content %}
{{ coord_provinces|json_script:"coord-provinces" }}
{{ geojson|json_script:"geojson-data" }}

<div id="map"></div>

<div id="info_panel">
    <h3>Zanieczyszczenia</h3>
    <div id="pollution">
        <div id="left">
            <ul>
                {% for pollutant in pollution.left %}
                    <li>
                        <input type="radio" name="pollutant" value="{{ pollutant }}">
                        <label>{{ pollutant }}</label>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div id="middle">
            <ul>
                {% for pollutant in pollution.middle %}
                    <li>
                        <input type="radio" name="pollutant" value="{{ pollutant }}">
                        <label>{{ pollutant }}</label>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div id="right">
            <ul>
                {% for pollutant in pollution.right %}
                    <li>
                        <input type="radio" name="pollutant" value="{{ pollutant }}">
                        <label>{{ pollutant }}</label>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <h3>Legenda</h3>
    <div id="legend">
        <ul>
            <li><span>0-50</span><span style="background:#57b108;color:#fff">Bardzo dobry</span></li>
            <li><span>50-100</span><span style="background:#b0dd10">Dobry</span></li>
            <li><span>100-150</span><span style="background:#ffd911">Umiarkowany</span></li>
            <li><span>150-200</span><span style="background:#e58100;color:#fff">Dostateczny</span></li>
            <li><span>200-300</span><span style="background:#e50000;color:#fff">Zły</span></li>
            <li><span>300+</span><span style="background:#990000;color:#fff">Bardzo zły</span></li>
            <li><span>-</span><span style="background:#bfbfbf">Brak danych</span></li>
        </ul>
    </div>

    <div id="year_select">
        <label>Rok</label>
        <select id="year">
            {% for year in years %}
                <option value="{{ year }}">{{ year }}</option>
            {% endfor %}
        </select>
    </div>

    <div id="month_select">
        <label>Miesiąc</label>
        <select id="month">
            <option value="1">Styczeń</option>
            <option value="2">Luty</option>
            <option value="3">Marzec</option>
            <option value="4">Kwiecień</option>
            <option value="5">Maj</option>
            <option value="6">Czerwiec</option>
            <option value="7">Lipiec</option>
            <option value="8">Sierpień</option>
            <option value="9">Wrzesień</option>
            <option value="10">Październik</option>
            <option value="11">Listopad</option>
            <option value="12">Grudzień</option>
        </select>
    </div>
</div>
{% endblock %}

{% block domready %}

let bounds = [[49.0, 14.1], [54.9, 24.2]];
const map = L.map('map', {
    center: [52.0, 19.0],
    zoom: 6,
    minZoom: 5,
    maxBounds: bounds
});

L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);
const geojsonData = JSON.parse(document.getElementById("geojson-data").textContent);
L.geoJSON(geojsonData).addTo(map);
const coordProvinces = JSON.parse(document.getElementById("coord-provinces").textContent);

let markersLayer;

function getColor(value) {
    if (value == null) return '#bfbfbf';
    if (value <= 50) return '#57b108';
    if (value <= 100) return '#b0dd10';
    if (value <= 150) return '#ffd911';
    if (value <= 200) return '#e58100';
    if (value <= 300) return '#e50000';
    return '#990000';
}

function updateMap(data) {

    if (markersLayer) {
        map.removeLayer(markersLayer);
    }
    markersLayer = L.geoJSON(coordProvinces, {
        pointToLayer: function(feature, latlng) {
            const name = feature.properties.name;
            const pollution = data[name];
                return L.circleMarker(latlng, {
                radius: 13,
                fillColor: getColor(pollution),
                stroke: false,
                fillOpacity: 0.8
            });
        },
        onEachFeature: function(feature, layer) {
            const name = feature.properties.name;
            const pollutant = data[name] ?? "Brak danych";

            layer.bindPopup(
                name + "<br>Zanieczyszczenie: " + pollutant
            );
        }
    }).addTo(map);
}

function getSelectedPollutant() {
    const selected = document.querySelector('input[name="pollutant"]:checked');
    return selected ? selected.value : null;
}

function fetchData() {

    const month = document.getElementById("month").value;
    const year = document.getElementById("year").value;
    const pollutant = getSelectedPollutant();

    if (!pollutant) return;

    fetch(`/map/data/?pollutant=${pollutant}&year=${year}&month=${month}`)
        .then(res => res.json())
        .then(data => updateMap(data));
}

document.getElementById("month").addEventListener("change", fetchData);
document.getElementById("year").addEventListener("change", fetchData);

document.querySelectorAll('input[name="pollutant"]').forEach(el => {
    el.addEventListener("change", fetchData);
});

{% endblock %}