{% extends "base.html"%}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
{% endblock %}


{% block content %}
{{ geojson|json_script:"geojson-data" }}
<div id="map">
    <script>
        const map = L.map('map').setView([52.11, 19.21], 6.2);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors'
        }).addTo(map);
        const geojsonData = JSON.parse(
         document.getElementById("geojson-data").textContent
        );
        L.geoJSON(geojsonData).addTo(map);
    </script>
</div>
<div id="info_panel">
    <h3>Zanieczyszczenia</h3>
    <div id="pollution">
        <ul>
            <li>indeks SO2</li>
            <li>indeks NO2</li>
            <li>indeks CO</li>
            e
        </ul>
    </div>
    <div id="legend">
        <ul>
            <li>Bardzo dobry</li>
            <li>Dobry</li>
            <li>Średni</li>
            <li>Zły</li>
            <li>Bardzo zły</li>
        </ul>
    </div>
</div>
{% endblock %}