{% extends "base.html"%}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
{% endblock %}

{% block content %}
{{ coord_provinces|json_script:"coord-provinces" }}
{{ geojson|json_script:"geojson-data" }}
{{ pollution_scale|json_script:"pollution-scale" }}

<div id="map"></div>

<div id="info_panel">
    <h3>Zanieczyszczenia</h3>
    <div id="pollution">
        <div id="left">
            <ul>
                {% for pollutant in pollution.left %}
                    <li>
                        <input type="radio" name="pollutant" value="{{ pollutant }}" autocomplete="off">
                        <label>{{ pollutant }}</label>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div id="middle">
            <ul>
                {% for pollutant in pollution.middle %}
                    <li>
                        <input type="radio" name="pollutant" value="{{ pollutant }}" autocomplete="off">
                        <label>{{ pollutant }}</label>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div id="right">
            <ul>
                {% for pollutant in pollution.right %}
                    <li>
                        <input type="radio" name="pollutant" value="{{ pollutant }}" autocomplete="off">
                        <label>{{ pollutant }}</label>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <h3>Legenda</h3>
    <div id="legend"></div>

    <div id="year_select">
        <label>Rok</label>
        <select id="year">
            {% for year in years %}
                <option value="{{ year }}">{{ year }}</option>
            {% endfor %}
        </select>
    </div>

    <div id="month_select">
        <label>Miesiąc</label>
        <select id="month">
            <option value="1">Styczeń</option>
            <option value="2">Luty</option>
            <option value="3">Marzec</option>
            <option value="4">Kwiecień</option>
            <option value="5">Maj</option>
            <option value="6">Czerwiec</option>
            <option value="7">Lipiec</option>
            <option value="8">Sierpień</option>
            <option value="9">Wrzesień</option>
            <option value="10">Październik</option>
            <option value="11">Listopad</option>
            <option value="12">Grudzień</option>
        </select>
    </div>
</div>
{% endblock %}

{% block domready %}

let bounds = [[49.0, 14.1], [54.9, 24.2]];
const map = L.map('map', {
    center: [52.0, 19.0],
    zoom: 6,
    minZoom: 5,
    maxBounds: bounds
});

L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);
const geojsonData = JSON.parse(document.getElementById("geojson-data").textContent);
L.geoJSON(geojsonData).addTo(map);
const coordProvinces = JSON.parse(document.getElementById("coord-provinces").textContent);
const pollutionScale = JSON.parse(document.getElementById("pollution-scale").textContent);

let markersLayer;

function getColor(value, scale) {
    if (value == null) return '#bfbfbf';
    const limits = scale.limits;
    const colors = scale.colors;
    for (let i = 0; i < limits.length; i++) {
        if (value <= limits[i]) {
            return colors[i];
        }
    }
    return colors[colors.length - 1];
}

function updateMap(data, pollutant, scale) {

    if (markersLayer) {
        map.removeLayer(markersLayer);
    }
    markersLayer = L.geoJSON(coordProvinces, {
        pointToLayer: function(feature, latlng) {
            const name = feature.properties.name;
            const value = data[name];
                return L.circleMarker(latlng, {
                radius: 13,
                fillColor: getColor(value, scale),
                stroke: false,
                fillOpacity: 1
            });
        },
        onEachFeature: function(feature, layer) {
            const name = feature.properties.name;
            const pollutant = data[name] ?? "Brak danych";

            layer.bindPopup(
                name + "<br>Zanieczyszczenie: " + pollutant
            );
        }
    }).addTo(map);
}

function getSelectedPollutant() {
    const selected = document.querySelector('input[name="pollutant"]:checked');
    return selected ? selected.value : null;
}

function renderLegend(pollutant) {

    const scale = pollutionScale[pollutant];
    if (!scale) return;
    let html = "<ul>";
    for (let i = 0; i < scale.labels.length; i++) {

        const from = i === 0 ? 0 : scale.limits[i - 1];
        const to = scale.limits[i];
        let range;

        if (to == null) {
            range = `${from}+`;
        } else {
            range = `${from}-${to}`;
        }
        html += `
            <li>
                <span>${range} ${scale.unit}</span>
                <span style="background:${scale.colors[i]};color:#fff">
                    ${scale.labels[i]}
                </span>
            </li>
        `;
    }
    html += `
        <li>
            <span>-</span>
            <span style="background:#bfbfbf">Brak danych</span>
        </li>
    `;
    html += "</ul>";
    document.getElementById("legend").innerHTML = html;
}

function fetchData() {

    const month = document.getElementById("month").value;
    const year = document.getElementById("year").value;
    const pollutant = getSelectedPollutant();

    if (!pollutant) return;
    const scale = pollutionScale[pollutant];

    fetch(`/map/data/?pollutant=${pollutant}&year=${year}&month=${month}`)
        .then(res => res.json())
        .then(data => updateMap(data, pollutant, scale));
}

document.getElementById("month").addEventListener("change", fetchData);
document.getElementById("year").addEventListener("change", fetchData);

document.querySelectorAll('input[name="pollutant"]').forEach(el => {
    el.addEventListener("change", () => {
        const pollutant = el.value;
        renderLegend(pollutant);
        fetchData();
    });
});

{% endblock %}