* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: 'Segoe UI', sans-serif;
}

header {
	background: linear-gradient(90deg, #0f172a, #1e2a8b);
	color: white;
	text-align: center;
	padding: 20px;
}

#header-text {
	font-size: 24px;
	font-weight: 600;
	letter-spacing: 1px;
}

main {
	display: flex;
	flex-direction: row;
	flex: 1;
}

#map {
	width: 75%;
}

#info_panel {
	width: 25%;
	background: #efefef;
}

#pollution {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#pollution div {
    margin: 10px;
}

#legend {
    display: flex;
    justify-content: center;
}

#legend li span {
    display: inline-block;
    width: 10vw;
    text-align: center;
    padding: 2px;
}

#month_select,
#year_select {
    text-align: center;
}

#year_select label,
#month_select label{
    display: block;
    margin: 10px;
}


select {
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    cursor: pointer;
}

select:focus {
    border-color: #666;
    outline: none;
}

footer {
	background: #0f172a;
	color: #cbd5e1;
	text-align: center;
	padding: 15px;
	font-size: 14px;
}

#footer-text {
	padding: 15px;
}

h3 {
    text-align: center;
    margin: 10px;
}

ul > li {
	padding: 2px;
	list-style: none;
}

@media (max-width: 1480px) {
    main {
        flex-direction: column;
    }

    #map {
        width: 100%;
        min-height: 400px;
    }

    #info_panel {
        width: 100%;
    }

    #legend li span {
        width: 27vw;
        padding: 1px;
    }

}

@media (max-width: 768px) {
    #header-text {
        font-size: 20px;
    }

    #map {
        min-height: 400px;
    }


    #pollution div {
        margin: 5px;
    }

    #legend li span {
        width: 30vw;
        padding: 1px;
    }

}